* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body header {
    margin: 2%;
}

body main {
    border: 1px solid gray;
    border-radius: 5%;
    padding: 2%;
}

button {
    padding: 1%;
}